
@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-bold-webfont.eot');
    src: url('../fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-bold-webfont.woff') format('woff'),
         url('../fonts/ubuntu-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntubold_italic';
    src: url('../fonts/ubuntu-bolditalic-webfont.eot');
    src: url('../fonts/ubuntu-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-bolditalic-webfont.woff') format('woff'),
         url('../fonts/ubuntu-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntuitalic';
    src: url('../fonts/ubuntu-italic-webfont.eot');
    src: url('../fonts/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-italic-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-italic-webfont.woff') format('woff'),
         url('../fonts/ubuntu-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntu_lightregular';
    src: url('../fonts/ubuntu-light-webfont.eot');
    src: url('../fonts/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-light-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-light-webfont.woff') format('woff'),
         url('../fonts/ubuntu-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntu_lightitalic';
    src: url('../fonts/ubuntu-lightitalic-webfont.eot');
    src: url('../fonts/ubuntu-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-lightitalic-webfont.woff') format('woff'),
         url('../fonts/ubuntu-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntu_mediumregular';
    src: url('../fonts/ubuntu-medium-webfont.eot');
    src: url('../fonts/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-medium-webfont.woff') format('woff'),
         url('../fonts/ubuntu-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntu_mediumitalic';
    src: url('../fonts/ubuntu-mediumitalic-webfont.eot');
    src: url('../fonts/ubuntu-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/ubuntu-mediumitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-regular-webfont.eot');
    src: url('../fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-regular-webfont.woff') format('woff'),
         url('../fonts/ubuntu-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GorditaBold';
    src: url('../fonts/GorditaBold.eot');
    src: url('../fonts/GorditaBold.eot') format('embedded-opentype'),
    url('../fonts/GorditaBold.woff2') format('woff2'),
    url('../fonts/GorditaBold.woff') format('woff'),
    url('../fonts/GorditaBold.ttf') format('truetype'),
    url('../fonts/GorditaBold.svg#GorditaBold') format('svg');
}
@font-face {
    font-family: 'GorditaMedium';
    src: url('../fonts/GorditaMedium.eot');
    src: url('../fonts/GorditaMedium.eot') format('embedded-opentype'),
    url('../fonts/GorditaMedium.woff2') format('woff2'),
    url('../fonts/GorditaMedium.woff') format('woff'),
    url('../fonts/GorditaMedium.ttf') format('truetype'),
    url('../fonts/GorditaMedium.svg#GorditaMedium') format('svg');
}
@font-face {
    font-family: 'GorditaRegular';
    src: url('../fonts/GorditaRegular.eot');
    src: url('../fonts/GorditaRegular.eot') format('embedded-opentype'),
    url('../fonts/GorditaRegular.woff2') format('woff2'),
    url('../fonts/GorditaRegular.woff') format('woff'),
    url('../fonts/GorditaRegular.ttf') format('truetype'),
    url('../fonts/GorditaRegular.svg#GorditaRegular') format('svg');
}